<!DOCTYPE html>
<html lang="en">
<head>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-event" method="post">
    <input type="text" placeholder="Description" name="description" size="50"/>
    Start time
    <input type="datetime-local" name="startDateTime" value="{{now}}"/>
    End Time
    <input type="datetime-local" name="endDateTime" value="{{now}}"/>
    <button type="submit">Add Event</button>

</form>
<br><br>
<th>Here are your events:</th>
<br>
<ol>
<table>
<th>Description</th>
<th>Start Time</th>
<th>End Time</th>
    {{#userEvents}}
<tr>
    <td>{{description}} </td>
    <td>{{startDateTime}}</td>
    <td>{{endDateTime}}</td>
</tr>
{{/userEvents}}
{{/user}}
</table>
</ol>
<br>
<br>
<th>Here's everyone's event:</th>
<br>
<ol>
    <table>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        {{#events}}
        <tr>
            <td>{{description}} </td>
            <td>{{startDateTime}}</td>
            <td>{{endDateTime}}</td>
        </tr>
        {{/events}}
    </table>
</ol>
</body>
</html>